.rz-slider
  .rz-slider__slide.js-slide{style: 'background-image:url(assets/drewno.jpg)'}
  .rz-slider__slide.js-slide{style: 'background-image:url(assets/ogien.jpg)'}
  .rz-slider__slide.js-slide{style: 'background-image:url(assets/serce.jpg)'}
  .rz-slider__slide.js-slide.active{style: 'background-image:url(assets/pellet.jpg)'}
