.rz-slider.js-rz-slider
  .rz-slider__next
    %span.glyphicon.glyphicon-menu-right{"aria-hidden" => "true"}
  .rz-slider__prev
    %span.glyphicon.glyphicon-menu-left{"aria-hidden" => "true"}
  .rz-slider__slide{style: "background-image:url(#{image_url('baner-pellet.png')})"}
    .text1.fade-right
      Pellet Najwyższej jakości
    .text2.fade-left
      Spełnia normy certyfikatu EN plus A1
    .button.fade-right Sprawdź
  .rz-slider__slide{style: "background-image:url(#{image_url('baner-bubbles.jpg')})"}
    .text1.fade-up
      Lekkie ceny
    .text2.fade-up
      Kotły Zębiec taniej niż u producenta
    .button.inverse.fade-up Sprawdź
